server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          #CORS 설정
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: false
          routes:
          # user-service 라우팅
          - id: user-service
            uri: lb://USER-SERVICE
            predicates:
              - Path=/api/users/**

          # board-service 라우팅
          - id: board-service
            uri: lb://BOARD-SERVICE
            predicates:
              - Path=/api/posts/**, /api/comments/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}