server:
  port: 8082

spring:
  application:
    name: board-service


  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/board_db}
    username: ${DB_USERNAME:user}
    password: ${DB_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}